name: test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: "1.23"
    - name: go fmt check
      run: sh hack/gofmt_check.sh
    - name: go mod tidy check
      run: sh hack/gomodtidy_check.sh
    - name: build
      run: make build
    - name: test
      run: make test
      
